@inherits LayoutComponentBase

<PageTitle>ParanoiaPC</PageTitle>

<div class="crt" style="margin:0%;height:100vh;">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>